## Introduction
- This document explores the AirBnB dataset containing listings and attributes for approximately 2,369,084 listings.

In [1]:
#import all the needed packages and set plots to be embedded inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

%matplotlib inline

In [2]:
#Load the dataset into a panda dataframe
df = pd.read_csv('Listings.csv')

In [3]:
#Dimensions of the dataset
df.shape

(2369084, 6)

In [4]:
#Summary of the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2369084 entries, 0 to 2369083
Data columns (total 6 columns):
 #   Column    Dtype
---  ------    -----
 0   Title     object
 1   Beds      object
 2   Location  object
 3   Price     object
 4   Reviews   object
 5   Host      object
dtypes: object(6)
memory usage: 108.4+ MB

In [5]:
#Descriptive statistics of the data
df.describe()

,Title,Beds,Location,Price,Reviews,Host
count,2369084,2369084,2369084,2369084,2369084,1302997
unique,20,11,20,20,19,1
top,"<meta content=""Snope Cottage"" itemprop=""name""/>",4 beds,Home in Camber,$915 night$915 per night,New,"<div class=""t1mwk1n0 dir dir-ltr"">Superhost</div>"
freq,118455,710726,118455,118455,236908,1302997

In [6]:
df.head()

,Title,Beds,Location,Price,Reviews,Host
0,"<meta content=""The Blue House on the Beach in ...",4 beds,Home in Camber,$915 night$915 per night,4.97 (35),"<div class=""t1mwk1n0 dir dir-ltr"">Superhost</div>"
1,"<meta content=""3 bed house with amazing sea vi...",5 beds,Home in Mullion,$228 night$228 per night,4.87 (61),"<div class=""t1mwk1n0 dir dir-ltr"">Superhost</div>"
2,"<meta content=""Snope Cottage"" itemprop=""name""/>",4 beds,Cottage in Alston,$142 night$142 per night,4.8 (296),NaN
3,"<meta content=""Lochside Cottage"" itemprop=""nam...",7 beds,Cottage in Stronachlachar,$191 night$191 per night,4.86 (106),"<div class=""t1mwk1n0 dir dir-ltr"">Superhost</div>"
4,"<meta content=""Charingworth House @Charingwort...",22 beds,Home in Charingworth,"$987 $766 night$766 per night, originally $987",5.0 (133),"<div class=""t1mwk1n0 dir dir-ltr"">Superhost</div>"

In [7]:
#Null values in the dataset
df.isnull().sum()

Title             0
Beds              0
Location          0
Price             0
Reviews           0
Host        1066087
dtype: int64

## Strucure of the dataset
- There are 2,369,084 listings in the dataset, all scraped from the Airbnb website, with 6 features(title, number of beds, location, price, reviews and category of the host). There are both numeric and categorical data types.

## Main features of interest
- I'm mostly interested in finding out which specific locations will bring in more profit if an individual decides to list a space via the Airbnb site. Also, more information about that space, this includes size, reviews given on the specific lisings and also type of the listing example, a cabin, cottage or an entire home, will greatly assist in the decision making process.

# Cleaning Data

In [8]:
# Copy of the originl dataset
df_clean = df.copy()

## Issue 1: Unnecessary data in the Titles

### Define:
- Perform slicing on the titles in order to remain with only the listing names

### Code

In [9]:
df_clean['Title'][1]

'<meta content="3 bed house with amazing sea view and beach access" itemprop="name"/>'

In [34]:

df_clean['Title'] = df_clean['Title'].str.strip('<meta content="')
df_clean['Title'] = df_clean['Title'].str.strip('" itemprop="name"/>')

In [35]:
df_clean['Title'][0]

'The Blue House on the Beach in Camb'